*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo{
    text-decoration: none;
    color: red;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em; /** em is the default pixels in a web browser * 1.8 (as in here)**/
}

.navigation a{
    color: red;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color: darkred;
}

section{
    padding: 100px 200px;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/New\ Project.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2{
    color: black;
    font-size: 1.4em;
    font-weight: 700;
}

.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: red;
    font-size: 3em;
    font-weight: 600;
}

.main h3{
    color: black;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn{
    color: #ffffff;
    background-color: #ff0000;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.4s ease;
}

.main-btn:hover{
    background-color: rgb(206, 0, 0);
    transform: scale(1.1);
}

.social-icons a{
    color: black;
    font-size: 1.7em;
    padding-right: 30px;
}